<!DOCTYPE html>
<html ng-app = "parseQueue">
<head>
	<title>ParseQ</title>
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
	<link rel="stylesheet" type="text/css" href="main.css">
</head>
<body ng-controller = "mainCtrl">
<!-- {{test}} -->

<div class="question-form"><form ng-submit="postData()">
	<input class="form-control" type="text" placeholder="Ask Question" ng-model="studentQuestion">
</form>
</div>

<div class="col-md-6">
	<div class="panel panel-danger">
		<div class="panel-heading">
			<p class="student-font">Pending Students</p>
		</div>
		<div class="panel-body">
				<p class="pending-font"ng-repeat="question in questions | filter: question.status='red'">{{question.text}} {{question.createdAt | date: "short"}}
				<button class="btn buttons" ng-click="changeStatus(question)">Assist Student</button>
		</div>
	</div>
</div>





<div class="col-md-6">
	<div class="panel panel-warning">
		<div class="panel-heading">
			<p class="student-font">Students being Assissted</p>
		</div>
		<div class="panel-body">
			<p class="assist-font" ng-repeat="question in questions  | filter: question.status='yellow'">{{question.text}} {{question.updatedAt | date: "short"}}
			<button class=" btn buttons" ng-click="deleteQuestion(question)">Finished</button>
		</div>
	</div>
</div>

	

<script src="http://cdnjs.cloudflare.com/ajax/libs/angular.js/1.2.20/angular.min.js"></script>
<script src="js/app.js"></script>
<script src="js/controllers/MainCtrl.js"></script>
<script src="js/services/parseService.js"></script>
<script src="js/defaultheaders.js"></script>
</body>
</html>